
<div class="jumbotron text-center">
<h3>За моєї ініціативи та активної підтримки директора Романової Маргарити Іванівни в коледжі організовано 3 нові лабораторії.</h3>
<p><h4>Лабораторія електронних пристроїв та схемотехніки (408)</h4></p>
 <img src="/assets/Lab1.jpg" class="img-thumbnail" alt="Lab1"> 
<p><h4>Лабораторія компь'ютерних мереж та архітектури (409)</h4></p>
 <img src="/assets/Lab2.jpg" class="img-thumbnail" alt="Lab2"> 
<p><h4>Лабораторія програмної інженерії та мікропроцесорної техніки (210-А)</h4></p>
 <img src="/assets/Lab3.jpg" class="img-thumbnail" alt="Lab3"> 
</div>
<a href="/home/classy"> НАВЕРХ </a>
