
<div class="jumbotron text-center">
 <h4>Диплом інженера-електромеханіка. 1977 рік.</h4>
 <%= image_tag ("diplom1.jpg"), width: '100%' %>
 <p><h4>Диплом учителя історії та українознавства. 2004 рік.</h4></p>
  <%= image_tag ("diplom2.jpg"), width: '100%' %>
 <p><h4>Диплом PhD в галузі філософії. 2006 рік.</h4></p>
  <%= image_tag ("diplom3.jpg"), width: '100%' %>
<p><h4>Диплом члена Української міжнародної академії оригінальних ідей. 2010 рік.
</h4></p>
  <%= image_tag ("diplom4.jpg"), width: '100%' %>
</div>
<a href="/home/osvita"> НАВЕРХ </a>



