
<div class="jumbotron text-center">
<h4>Грамота за вагомий внесок у роботу міського методичного об'єднання викладачів електротехніки </br>м. Києва.</h4>
 <%= image_tag ("gramota1.jpg"), width: '90%' %>
 <p><h4>Грамота за високий професіоналізм у підготовці студентів.</h4></p>
 <%= image_tag ("gramota2.jpg"), width: '90%' %>
 <p><h4>Нагорода за підготовку студтів для участі у науково-теоретичній студентській конференції.</h4></p>
 <%= image_tag ("gramota3.jpg"), width: '90%' %>
 <p><h4>Нагорода за активну участь в роботі методичного об'єднання викладаів електротехніки.</h4></p>
<%= image_tag ("gramota4.jpg"), width: '90%' %>
</div>
<a href="/home/zdobutky"> НАВЕРХ </a>


