
<div class="jumbotron text-center">
<h4>Грамота за вагомий внесок у роботу міського методичного об'єднання викладачів електротехніки </br>м. Києва.</h4>
 <img src="/assets/gramota1.jpg" class="img-thumbnail" alt="grand1"> 
 <p><h4>Грамота за високий професіоналізм у підготовці студентів.</h4></p>
 <img src="/assets/gramota2.jpg" class="img-thumbnail" alt="grand2">  
 <p><h4>Нагорода за підготовку студтів для участі у науково-теоретичній студентській конференції.</h4></p>
 <img src="/assets/gramota3.jpg" class="img-thumbnail" alt="grand3">
 <p><h4>Нагорода за активну участь в роботі методичного об'єднання викладаів електротехніки.</h4></p>
 <img src="/assets/gramota4.jpg" class="img-thumbnail" alt="grand4">  
</div>
<a href="/home/zdobutky"> НАВЕРХ </a>


